<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{survey}">
        <f:then>
            <h1>
                <f:if condition="{survey.title}" then="{survey.title}" else="{survey.name}"/>
            </h1>
            <f:if condition="{survey.description}">
                <f:format.html>{survey.description}</f:format.html>
            </f:if>

            <f:form action="answer" name="pxa-survey">
                <f:form.hidden name="survey" value="{survey.uid}"/>
                <f:form.hidden name="showAllQuestions" value="{f:if(condition: settings.showAllQuestions, then: '1', else: '0')}"/>

                <f:if condition="{settings.showAllQuestions}">
                    <f:then>
                        <f:for each="{survey.questions}" as="question">
                            <f:render partial="Survey/Question" arguments="{question: question}"/>
                        </f:for>

                        <button type="submit" class="btn btn-default"><f:translate key="fe.send"/></button>
                    </f:then>
                    <f:else>
                        <hr>
                        <p><f:translate key="fe.progress" arguments="{0: currentPosition, 1: countAllQuestions}"/></p>
                        <f:render partial="Survey/ProgressBar" arguments="{progress: progress, countAllQuestions: countAllQuestions, currentPosition: currentPosition}"/>
                        <f:render partial="Survey/Question" arguments="{question: currentQuestion}"/>

                        <f:form.hidden name="currentQuestion" value="{currentQuestion.uid}"/>
                        <button type="submit" class="btn btn-default"><f:translate key="fe.next"/></button>
                    </f:else>
                </f:if>
            </f:form>
        </f:then>

        <f:else>
            <p><i><f:translate key="fe.not_found"/></i></p>
        </f:else>
    </f:if>
</f:section>
</html>