<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSurvey/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>

<f:section name="main">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#bar" aria-controls="bar" role="tab" data-toggle="tab">
                <pxa:translate key="module.bar_chart"/>
            </a>
        </li>
        <li role="presentation">
            <a href="#pie" aria-controls="Pie" role="tab" data-toggle="tab">
                <pxa:translate key="module.pie_chart"/>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="bar">
            <f:for each="{data}" key="questionUid" as="questionItem" iteration="i">
                <f:render section="questionDataRow" arguments="{i: i, questionUid: questionUid, questionItem: questionItem, type: 'bar'}"/>
            </f:for>
        </div>
        <div role="tabpanel" class="tab-pane" id="pie">
            <f:for each="{data}" key="questionUid" as="questionItem" iteration="i">
                <f:render section="questionDataRow" arguments="{i: i, questionUid: questionUid, questionItem: questionItem, type: 'pie'}"/>
            </f:for>
        </div>
    </div>

    <script>
		require(['TYPO3/CMS/PxaSurvey/Backend/SurveyAnalysis'], function (SurveyAnalysis) {
			var SurveyAnalysisInstance = SurveyAnalysis.getInstance({dataJson -> f:format.htmlentitiesDecode()});

			SurveyAnalysisInstance.init();
		});
    </script>
</f:section>

<f:section name="questionDataRow">
    <div class="row">
        <div class="col-md-4">
            <div class="bs-callout-info">
                <h4>{i.cycle}. {questionItem.label}</h4>
                <p>
                    <f:if condition="{questionItem.allAnswersCount} > 0">
                        <f:then>
                            <i>
                                <pxa:translate key="module.total_answers"
                                              arguments="{0: questionItem.allAnswersCount}"/>
                            </i>
                            <br>
                            <ol class="answers-list">
                                <f:for each="{questionItem.questionData}" as="questionDataItem">
                                    <li>
                                        {questionDataItem.label} - {questionDataItem.count} ({questionDataItem.percents}%)
                                    </li>
                                </f:for>
                            </ol>
                        </f:then>
                        <f:else>
                            <pxa:translate key="module.no_answers"/>
                        </f:else>
                    </f:if>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <canvas id="chart-{type}-{questionUid}"></canvas>
        </div>
    </div>
    <hr class="divider-hr">
</f:section>
</html>